:root {
  --logo-color-header: #000000;
  --accent: #2196f3;
  --brd-header: #ececec;
  --title-color: #212121;
  --p-color: #757575;
  --gray: #2f303a;
  --white: #ffffff;
  --second-btn-color: #188ce8;
  --portfolio-secondary-btn-color: #f5f4fa;
  --portfolio-brd: #eeeeee;
  --icon-gray: #afb1b8;
  --soc-link-opacity: rgba(255, 255, 255, 0.1);
  --business-subtitle-bg: rgba(47, 48, 58, 0.8);
  --overlay-col: rgba(33, 150, 243, 0.9);
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-col: rgba(0, 0, 0, 0.2);
  --animation-time: 250ms;
  --form-col: rgba(33, 33, 33, 0.2);
}
