.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $col-bg-dark;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  display: block;
  margin-bottom: 30px;
}
.footer .logo {
  color: $col-logo-ligh;
}
.address-item + .address-item {
  margin-top: 10px;
}
.address-item {
  color: $col-text-secondary;
}
.footer-link {
  transition: color $time-animation $function-cubic;
}
.footer-link:hover,
.footer-link:focus {
  color: $col-accent;
}
.opacity {
  opacity: 60%;
}
.follow-wrap {
  margin-left: 94px;
}
.follow-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $col-text-secondary;
}
.follow-form-wrap {
  margin-left: auto;
}
.follow-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $col-text-secondary;
}
.follow-form {
  display: flex;
}
.follow-form-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  margin-right: 12px;
  border: $border-follow-input;
  background-color: transparent;
  color: $col-text-secondary;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: border-color $time-animation $function-cubic;
}
.follow-form-input:hover,
.follow-form-input:focus {
  border: $border-follow-input-hover;
}
.follow-form-icon {
  margin-left: 10px;
  fill: $col-icon-light;
}